@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 2% 7%;
    --foreground: 0 0% 98%;
    --card: 240 2% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 2% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 49 52% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
    --correct: 115 29% 43%;
  }

  .dark {
    --background: 240 2% 7%;
    --foreground: 0 0% 98%;
    --card: 240 2% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 2% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 49 52% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --correct: 115 29% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
